*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
#card{
    flex-shrink: 0;
    height: 400px;
    width: 400px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
#card img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#pfp{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    position: absolute;
    left: 48%;
    transform: translate(-48%,-20%);
}
#pfp img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 48%;
    transform: translate(-48%,-20%);
    border-radius: 50px;
}
#card h1{
    font-size: 20px;
    margin-top: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#card h2{
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
#card p{
    font-size: 16px;
    width: 80%;
    margin-top: 10px;
    margin-left: 30px ;
}
#count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    
}